*
{
    margin: 0;
    padding: 0;
}

.navbar
{
    color: white;
}

body
{
    background-image: url(../../assets/img/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron
{
    background-color: rgba($color: gray, $alpha: 0.5);
    color:white;
    text-align: center;
    border:4px solid white;
    height: 90%;
    padding-top: 5%;  

}

.card 
{

    border:4px solid white;
    background-color: rgba($color: gray, $alpha: 0);
    color: white;
}

.nopadding 
{
    padding: 0 !important;
    margin: 0 !important;
}

.noppading-top
{
    padding-top: 0;
    margin-top: 0;
}

.jumbotron.deux
{
    background-image: url(../img/plats06.jpg) !important;
    background-size: cover;
    text-shadow: 3px 3px 4px black;

    
}

.card.plats
{
    background-image: url(../img/plats01.jpg);
    background-size: cover;
    text-align: center;
}

.card.deco
{
    background-image: url(../img/plats08.jpg);
    background-size: cover;
    text-align: center;
}