*
{
    margin: 0;
    padding: 0;
}

.navbar
{
    color: white;
}

body
{
    background-image: url(../../assets/img/fond.jpg);
    background-size: cover;
}



.jumbotron
{
    background-color: rgba($color: gray, $alpha: 0.5);
    color:white;
    text-align: center;
    border:8px solid white;
    height: 90%;
    padding-top: 10%;  
    

}

.card 
{

    border:8px solid white;
    background-color: rgba($color: gray, $alpha: 0);
    color: white;
}
.card-body
{
    Display: flex;
    padding-bottom: 20%;

    
}